<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="bagas" value="bobobox-test"/>
    <test name="Base Test">
        <classes>
            <class name="runners.TestRunner1"/>
        </classes>
    </test>
</suite>